html {
  background-color: #ecf0f1;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
}

#navbar {
  width: 100%;
  height: 3em;
  background-color: #e74c3c;
  color: white;
  box-shadow: 0 2px 5px #888888;
  margin-bottom: 1em;
  padding-bottom: 8px
}


#navbar h1 {float: left; width: 30%; font-size: 1.5em; padding-left: 10px;}
#navbar h1 a {color: white; text-decoration: none;}

#navlist {
  list-style: none;
  width: 65%;
  float: right;
}

#navlist li {
  display: inline;
  float: right;
  margin-right: 1em;
}
#navlist a {
  color: white;
}